# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

# Resouces and examples
resources
search_engine/imgs/Images
search_engine/test.html